<mat-toolbar>
    <mat-toolbar-row>
        <h1>Login</h1>
        <form>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    E-mail inválido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    obrigatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Senha</mat-label>
                <input type="password" matInput>
            </mat-form-field>
            <button mat-button class="buttonBun">Entrar</button>
            <button mat-button class="buttonBun">Criar conta</button>
        </form>
    </mat-toolbar-row>
</mat-toolbar>