mat-sidenav-container{
    width: 70px;
    position: fixed;
    left: 0;
    background-color: var(--prim);
    height: 100%;
    z-index: 5;
}
button{
    width: 100%;
    height: 60px;
    font-size: var(--tam3);
    font-family: var(--family);
    border-radius: 0px;
    font-weight: 500;
}
i{
    font-size: var(--tam3);
}
img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.prim{
    background-color: var(--prim);
    color: var(--sec);
}

.prim span{
    display: none;
}
.sec span{
    display: none;
}
.sec{
    display: none;
    color: var(--prim);
    background-color: var(--sec);
}
mat-sidenav-container:hover{
    width: 400px;
}
mat-sidenav-container:hover button span{
    display: inline-block;
}

mat-sidenav-container:hover i{
    margin-right: 5px;
}

mat-sidenav-container:hover img{
    width: 100px;
    height: 100px;
}
