@include angular-material-theme($theming-material-components-theme);

*{
    transition: 500ms;
}
html, body {
    height: 100%; 
    padding: 0;
    margin: 0;
}
:root{
    --family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --prim: #ff6600;
    --prim2: #c54f00;
    --prim3: #ff8738;
    --sec: #000000;
    --sec2: #381700;
    --sec3: #452601;
    --tam1: 0.5em;
    --tam2: 1em;
    --tam3: 1.3em;
    --tam4: 2em;
    --branco: #ffffff;
}

button{
    border: 0;
    padding: 0;
    background: none;
}
.buttonBun{
    background-color: var(--prim);
    color: var(--sec3);
}