<div id="img"></div>
<body>
    <mat-toolbar>
        <h1>Criação de Personagem</h1>
    </mat-toolbar>
    <div [ngSwitch]="sel">
        <div *ngSwitchCase="0">
            <form>
                    <mat-toolbar>
                        <h2>Informções Básicas</h2>
                    </mat-toolbar>
                    <mat-toolbar>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Selecione sua Classe</mat-label>
                            <mat-select name="class" [(ngModel)]="idClass" name="class">
                                <mat-option *ngFor="let class of classes" (click)="recmod(class.id)" [value]="class.id">{{ class.nome }}</mat-option>               
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Selecione sua Raça</mat-label>
                            <mat-select name="class">
                                <mat-option *ngFor="let race of races" (click)="reccarc(race.id)" [value]="race.id">{{ race.nome }}</mat-option>                          
                            </mat-select> 
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput [(ngModel)]="nome" name="nome" maxlength="20" placeholder="Ex. Robertinho" value="">
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Selecione sua Tendência</mat-label>
                            <mat-select [(ngModel)]="tendency" name="Tendência">
                                <mat-option [value]="'Leal Bom'">Leal Bom</mat-option>
                                <mat-option [value]="'Neutro Bom'">Neutro Bom</mat-option>
                                <mat-option [value]="'Caótico Bom'">Caótico Bom</mat-option>
                                <mat-option [value]="'Leal Neutro'">Leal Neutro</mat-option>
                                <mat-option [value]="'Neutro'">Neutro</mat-option>
                                <mat-option [value]="'Caótico Neutro'">Caótico Neutro</mat-option>
                                <mat-option [value]="'Leal Mal'">Leal Mal</mat-option>
                                <mat-option [value]="'Mal'">Mal</mat-option>
                                <mat-option [value]="'Caótico Mal'">Caótico Mal</mat-option>              
                            </mat-select>
                        </mat-form-field>
                    </mat-toolbar>
                    <mat-toolbar>
                        <h2>Modificadores</h2>
                    </mat-toolbar>
                    <mat-toolbar>
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Força</mat-label>
                            <input matInput [(ngModel)]="modifc[0]" max="20" min="0" name="forca" type="number" value="">
                        </mat-form-field> 
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Destreza</mat-label>
                            <input matInput [(ngModel)]="modifc[1]" max="20" min="0" name="destreza" type="number" value="">
                        </mat-form-field> 
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Constituição</mat-label>
                            <input matInput [(ngModel)]="modifc[2]" max="20" min="0" name="constituicao" type="number" value="">
                        </mat-form-field>  
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Inteligência</mat-label>
                            <input matInput [(ngModel)]="modifc[3]" max="20" min="0" name="inteligencia" type="number" value="">
                        </mat-form-field> 
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Sabedoria</mat-label>
                            <input matInput [(ngModel)]="modifc[4]" max="20" min="0" name="sabedoria" type="number" value="">
                        </mat-form-field>
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Carisma</mat-label>
                            <input matInput [(ngModel)]="modifc[5]" max="20" min="0" name="carisma" type="number" value="">
                        </mat-form-field>
                    </mat-toolbar>
                    <mat-toolbar>
                        <h2>Características</h2>
                    </mat-toolbar>
                    <mat-toolbar>
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Idade</mat-label>
                            <input matInput max="99999" min="0" [(ngModel)]="carcN[0]" name="Idade" maxlength="5" type="number" value="">
                        </mat-form-field>
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Altura</mat-label>
                            <input matInput max="99999" min="0" [(ngModel)]="carcN[1]" name="Altura" maxlength="5" type="number" value="">
                        </mat-form-field>
                        <mat-form-field class="input Number" appearance="outline">
                            <mat-label>Peso</mat-label>
                            <input matInput max="99999" [(ngModel)]="carcN[2]" name="Peso" min="0" maxlength="5" type="number" value="">
                        </mat-form-field>
                    </mat-toolbar>
                    <mat-toolbar>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Olhos</mat-label>
                            <input matInput [(ngModel)]="carcS[0]" name="olhos" maxlength="30" value="">
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Pele</mat-label>
                            <input matInput [(ngModel)]="carcS[1]" name="Pele" maxlength="30" value="">
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Cabelos</mat-label>
                            <input matInput [(ngModel)]="carcS[2]" name="Cabelos" maxlength="30" value="">
                        </mat-form-field>
                    </mat-toolbar>
                    <mat-toolbar>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>Características Personalizadas</mat-label>
                            <textarea matInput placeholder="Ex. Perna de pau, olho de vidro"></textarea>
                        </mat-form-field>
                        <mat-form-field class="input" appearance="outline">
                            <mat-label>História do personagem</mat-label>
                            <textarea matInput placeholder="Ex. Já teve um amor hospitalar"></textarea>
                        </mat-form-field>
                    </mat-toolbar> 
                    <mat-toolbar>
                        <button mat-button (click)="cadas()">Próximo</button>
                    </mat-toolbar>
            </form>
        </div>
        <div *ngSwitchCase="1">
            <mat-toolbar>
                <h2>Escolha suas Proeficiências</h2>
            </mat-toolbar>
            <mat-toolbar>
                <mat-checkbox value="" color="Accent">tst</mat-checkbox>
                <mat-checkbox value="" color="Accent">tst</mat-checkbox>
                <mat-checkbox value="" color="Accent">tst</mat-checkbox>
            </mat-toolbar>
            <mat-toolbar>
                <h2>Equipamento</h2>
            </mat-toolbar>
            <mat-toolbar>
                <mat-form-field class="input" appearance="fill">
                    <mat-label>Selecione suas armas</mat-label>
                    <mat-select name="class">
                        <mat-option *ngFor="let item of equipamentos"></mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input" appearance="fill">
                    <mat-label>Selecione suas armas</mat-label>
                    <mat-select name="class">
                        <mat-option [value]="0">Dois machados de mão</mat-option>
                        <mat-option [value]="1">Qualquer arma simples</mat-option>            
                    </mat-select>
                </mat-form-field>
            </mat-toolbar>
            <mat-toolbar>
                Escolha suas Magias
            </mat-toolbar>
            <mat-toolbar class="collum">
                <div class="Sel">
                    <span>Title</span>
                    <span>decription</span>
                    <mat-checkbox value="" color="Accent">tst</mat-checkbox>
                </div>
            </mat-toolbar>
            <mat-toolbar>
                <button mat-button (click)="Move(1)">Voltar</button>
                <button mat-button (click)="Move(0)">Próximo</button>
            </mat-toolbar>
        </div>
        <div *ngSwitchCase="2">
        </div>
    </div>
</body>